@{
    ViewData["Title"] = "Session";
}


<section class="sessions">
    <ul class="sessions">
        <li>
            <h3>Creatief met woorden</h3>
            <img src="/images/sessions/1.jpg" alt="session" width="200" height="141" />
            <p>Het drie jaar durende lesprogramma is een afnemend gestructureerd werkproce ...</p>
            <a href="1" title="detail van deze sessie" class="readmore">Bekijk deze sessie in detail</a>
        </li>
        <li>
            <h3>Drama Training</h3>
            <img src="/images/sessions/2.jpg" alt="session" width="200" height="141" />
            <p>Er wordt gewerkt aan de grondhouding, oftewel het kunnen werken met muzisch ...</p>
            <a href="2" title="detail van deze sessie" class="readmore">Bekijk deze sessie in detail</a>
        </li>
        <li>
            <h3>Dans Theater</h3>
            <img src="/images/sessions/3.jpg" alt="session" width="200" height="141" />
            <p>&quot;Butoh is om mezelf en anderen door middel van dans en muziek weer in verbi ...</p>
            <a href="3" title="detail van deze sessie" class="readmore">Bekijk deze sessie in detail</a>
        </li>
        <li>
            <h3>Clown training</h3>
            <img src="/images/sessions/4.jpg" alt="session" width="200" height="141" />
            <p>De clown is iets dat telkens weer geboren wordt. Hij schept alles wat je be ...</p>
            <a href="4" title="detail van deze sessie" class="readmore">Bekijk deze sessie in detail</a>
        </li>
        <li>
            <h3>Boonstra Dans</h3>
            <img src="/images/sessions/5.jpg" alt="session" width="200" height="141" />
            <p>&quot;Je moet sturen, niet controleren. Het start niet bij je verstand, maar dat ...</p>
            <a href="5" title="detail van deze sessie" class="readmore">Bekijk deze sessie in detail</a>
        </li>
    </ul>
</section>

